$verde: #0ab200;
$morado: #230043;
$blanco: #ffffff;
$gris: #120e15;

.page{
    min-height: 90vh;
    padding-left: auto;
    padding-right: auto;
}

.contact{
    position: absolute;
    top: 0%;
    left: 0%;
    height: max-content;
    width: 100%;
    background: $gris;
    background: linear-gradient(90deg, $gris 0%, $morado 35%, $gris 100%);
}

.contact_form{
    color: $morado;
    height: max-content;
    width: 80vw;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
    border-color: $morado;
    border-style: solid;
    border-width: 1px;

}

.outlined-required{
    width: 70vw;

}
.outlined-short{
    width: 34vw;
}

#send{
    background-color: $verde;
    color: $blanco;
    width: 40vw;
    margin: 2% auto;
}

#text-together{
    display: flex;
    justify-content: center;
}

h1{
    margin: 1vw;
}

#titulo{
    display: flex;
}






