$verde: #0ab200;
$morado: #230043;
$blanco: #ffffff;
$gris: #120e15;

.import-page{
    min-height: 100vh;
    height: max-content;
    padding-left: auto;
    padding-right: auto;
    background: $gris;
    background: linear-gradient(90deg, $gris 0%, $morado 35%, $gris 100%);
    margin-bottom: 0;
}

.import-form{
    min-height: 42vh;
    width: 50vw;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
} 

#csv-file{
    display: none;
}

#upload-csv{
    background-color: $morado;
    color: $blanco;
}

#import{
    background-color: $verde;
    color: $blanco;
}

#name-arch{
    margin-left: 0;
}