
$morado: #230043;


h1{
    margin-left: 5vw;
}

.table-header{
    background-color: $morado;
}


.user_table{
    padding: auto;

}


.container{
    margin-left: 2vw;
    overflow-x: auto;
    width: 92vw; 
}