$verde: #0ab200;
$morado: #230043;
$blanco: #ffffff;
$gris: #120e15;


.page{
    min-height: 90vh;
    padding-left: auto;
    padding-right: auto;
}

#pdf-centros{
    background-color: $verde;
    color: $blanco;
    margin-top: 2vh;
}

.report-search{
    display: flex;
    align-content: center;
    margin-top: 1vh;
}
p{
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#tabla-centros{
    margin-left: 1vw;
    margin-right: 1vw;
    max-width: 98%;
}

.download-table-xls-button{
    background-color: $verde;
    color: $blanco;
    margin-top: 2vh;
    border: none;
    height: 6vh;
    border-radius: 0.5vw;
}

.download-table-xls-button:hover{
    cursor: pointer;
}

#name-centros, #name-centros-fecha{
    display: none;
}