$verde: #0ab200;
$morado: #230043;
$blanco: #ffffff;
$gris: #120e15;

.register{
    position: absolute;
    top: 0%;
    left: 0%;
    min-height: 100%;
    height: max-content;
    width: 100%;
    background: $gris;
    background: linear-gradient(90deg, $gris 0%, $morado 35%, $gris 100%);
}

.register_form{
    height: max-content;
    width: 60vw;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
}

.content-register{
    margin-left: 4vw;
    text-align: center;
    margin-right: 0px;
}

.standard-basic{
    position: relative;
    width: 40vw;
    margin: 0 5%;
}

#enviar{
    background-color: $verde;
    color: $blanco;
    width: 40vw;
    margin-top: 0%;
}

.register a{
    text-decoration: none;
    color: $morado;
}

a:hover{
    text-decoration: none;
    color: $verde;
}

#tipo_usuario{
    position: relative;
    width: 40vw;
    margin-top: 3vh;
}

#noerror{
    display: none;
}
