$verde: #0ab200;
$morado: #230043;
$blanco: #ffffff;
$gris: #120e15;


.footer{
    position: relative;
    bottom: 0;
    margin-right: 0vw;
    margin-left: auto;
    background-color: $gris;
    color: $blanco;
    height: max-content;
    padding-top: 2vw;
    margin-top: 2vh;
}

.footer a{
    color:$blanco;
    text-decoration: none;
    line-height: 1.6;
}

a:hover{
    color:$verde;
}
.nofoot{
    display: none;
}