.texto-derecha, .texto-izquierda{
    width: 90vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3vw;
    margin-right: 0vw;
    display: flex;
    text-align: justify;
    align-content: center;
    height: max-content;
    /*float: left;*/
    border-color: #23004369;
    border-style:groove;
    border-width: 0.05px;
    min-height: 30vh;
    float:initial;
}

.imagen-derecha, .imagen-izquierda{
   max-width: 15vw;
   max-height: 15vw;
   float: left;
   margin: auto;
   margin-left: 1vw;
   margin-right: 1vw;
   
}


.content{
    width: 90%;
}

.texto-derecha .imagen-izquierda{
    display: none;
}

.texto-izquierda .imagen-derecha{
    display: none;
}


.texto-columna{
    width: 80vw;
    margin-top: 2vw;
    text-align: justify;
    align-content: center;
    display: block;
    margin: auto;
    margin-bottom: 2vw;
}

.solo-texto{
    display: none;
}

.imagen-columnas{
    margin-top: 2vh;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
}

.imagen-columnas img{
   width: 100%;
}

.contact-data{
    width: 77vw;
    align-content: center;
}

.acordeon-expanded{
    width: 90vw;
    margin-top: 2vw;
    text-align: justify;
    align-content: center;
    margin: auto;
    margin-bottom: 2vh;
}

.img-tab{
    width: 25vw;
    height: auto;
    display: block;
}

.tab-box{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.tab-content{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-content: center;
}



/**********************/
.slider {
    position: relative;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 3vh;
  }
  
  .carousel-image {
    width: 80vw;
    height: auto;
    border-radius: 10px;
    position: relative;
  }
  
  .right-arrow{
    position: absolute;
    top: 50%;
    left: 83vw;
    font-size: 3rem;
    color: #0ab200;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background-color: #120e15;
    padding: 1vw;
    border-radius: 50%;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 3vw;
    font-size: 3rem;
    color: #0ab200;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background-color: #120e15;
    padding: 1vw;
    border-radius: 50%;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide-active {
    opacity: 1;
    transition-duration: 1s;
  }
